html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

caption {
    font-size: large;
}

th {
    border: 2px solid #333;
}

td {
    border: 1px solid #333;
}
